<!-- Componente de tarjeta que abre el pop-up al hacer clic -->
<div class="image-card" role="button" (click)="togglePopup()">
  <!-- Contenido de la tarjeta: imagen con atributos mejorados -->
  <img src="assets/icons/card.png" alt="Añadir fotos" aria-label="Añadir fotos"/>
</div>
<app-nav-bar></app-nav-bar>
<div class="overlay" *ngIf="isPopupVisible">
  <div class="popup">
    <button class="close-button" (click)="togglePopup()" aria-label="Cerrar">X</button>
    <h2>CARGA Y SUS MANIOBRAS</h2>
    <form>
      <div class="checkbox-group">
        <label>
          <input type="checkbox" name="sinPermiso" />
          <img src="assets/images/permiso.png" alt="Sin Permiso" class="checkbox-icon">
          Sin permiso
        </label>
      </div>
      <div class="checkbox-group">
        <label>
          <input type="checkbox" name="impedirVisibilidad" />
          <img src="assets/images/ojo.png" alt="Impedir Visibilidad" class="checkbox-icon">
          Impedir visibilidad
        </label>
      </div>
      <div class="checkbox-group">
        <label>
          <input type="checkbox" name="sinLona" />
          <img src="assets/images/camioneta.png" alt="Sin Lona" class="checkbox-icon">
          Sin lona
        </label>
      </div>
    </form>
    <div class="popup-buttons">
      <button (click)="back()">Atras</button>
    </div>
  </div>
</div>
