<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Infraccion8</title>
</head>
<body>
  <div class="toolbar" role="banner">
    <!-- Especifico que no quiero mostrar el componente de count-down-timer -->
<app-nav-bar></app-nav-bar>

  </div>
  <div class="contenedor-inicio">
    <app-icon-line-container></app-icon-line-container>
    <app-letrero-superior></app-letrero-superior>
    <app-etiqueta-contenido></app-etiqueta-contenido>
  </div>
  <div class="contenedor-centro">
    <app-botones-laterales></app-botones-laterales>
    <app-boton-elegir-ubicacion></app-boton-elegir-ubicacion>
    <app-linea-horizontal></app-linea-horizontal>
    <app-ventana-pop-up></app-ventana-pop-up>
  </div>
</body>
</html>
