/*-----BOTON LADO IZQUIERDO/RETROCEDER----*/
.boton {
    position: fixed;
    left: 0;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior de la pantalla */
    top: calc(40vh + 40px); /* Alinea el botón a la mitad de la altura de la ventana más la distancia del botón "Elegir Ubicación" */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.boton img {
    width: 160px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    cursor: pointer; /* Cambia el cursor al pasar por encima para indicar que es un botón */
    transition: transform 0.3s ease; /* Agrega una transición suave al efecto */
}

.boton img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen al pasar el mouse por encima */
}

/*-----BOTON LADO DERECHO/CONTINUAR----*/
.Boton {
    position: fixed;
    right: 0;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior de la pantalla */
    top: calc(40vh + 40px); /* Alinea el botón a la mitad de la altura de la ventana más la distancia del botón "Elegir Ubicación" */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.Boton img {
    width: 138px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    cursor: pointer; /* Cambia el cursor al pasar por encima para indicar que es un botón */
    transition: transform 0.3s ease; /* Agrega una transición suave al efecto */
    margin-top: -43px; /* Ajusta la posición vertical para que esté alineado con el otro botón */
}

.Boton img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen al pasar el mouse por encima */
}

/* ---- RESPONSIVIDAD --------------*/
@media (max-width: 768px) {
    .boton {
        bottom: 10px; /* Reduce la distancia desde la parte inferior de la pantalla */
        top: auto; /* Elimina el valor calculado para la parte superior */
    }

    .boton img {
        width: 120px; /* Reduce el ancho para dispositivos móviles */
    }

    .Boton {
        bottom: 10px; /* Reduce la distancia desde la parte inferior de la pantalla */
        top: auto; /* Elimina el valor calculado para la parte superior */
    }

    .Boton img {
        width: 100px; /* Reduce el ancho para dispositivos móviles */
    }
}