.icon-line-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px; /* Esto agrega un espacio de 20px a ambos lados del contenedor */
  }
  
  .icon {
    width: 50px; /* Tamaño de los íconos */
    height: auto;
    margin: 0 1px; /* Margen opcional para asegurarse de que los íconos no toquen los puntos */
  }
  
  .dots {
    flex-grow: 1;
    margin: 0 10px; /* Espacio entre los íconos y las líneas */
    background-image: linear-gradient(to right, 
    transparent, 
    transparent 14px, /* Espacio transparente antes de la línea */
    #030303 15px, /* La línea negra */
    transparent 20px); /* Espacio transparente después de la línea */
  background-size: 20px 100%; /* Ancho y alto de cada repetición del patrón */
  
    background-repeat: repeat-x;
    min-height: 5px; /* Esto le da altura a tu línea de puntos */
  }