/* Estilos base para botones */
button {
    border: 2px solid #011D4D; /* Define el borde */
    background-color: #011D4D; /* Color de fondo */
    border-radius: 0.6em; /* Bordes redondeados */
    padding: 0.5em 1.2em; /* Espacio interno */
    transition: all ease-in-out 0.2s; /* Transición suave */
    font-size: 16px; /* Tamaño de la fuente */
    margin-top: 40px; /* Espacio en la parte superior */
}

button span {
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    color: #fff; /* Color del texto */
    font-weight: 600; /* Negrita */
}

button:hover {
    background-color: #0c3170; /* Cambio de color al pasar el mouse */
}

/* Estilos para la sección de ubicación */
.ubicacion {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    margin-left: 40px; /* Margen a la izquierda */
}

.ubicacion img {
    display: block; /* Convierte la imagen en un elemento de bloque */
    margin-right: 10px; /* Margen a la derecha del icono */
    margin-top: 40px; /* Margen superior */
}
/*-----------------RESPONSIVIDAD-----------------*/
/* Ajustes de responsividad para pantallas estrechas como 280x653 */
@media (max-width: 320px) {
    button {
        padding: 0.3em 0.8em; /* Reduce el padding para botones en pantallas estrechas */
        font-size: 14px; /* Reduce el tamaño de fuente */
        margin-top: 20px; /* Reduce el margen superior */
    }

    button span {
        font-weight: 500; /* Ajusta el grosor de la fuente para pantallas estrechas */
    }

    .ubicacion {
        flex-direction: column; /* Cambia a disposición en columna para ahorrar espacio horizontal */
        margin-left: 20px; /* Reduce el margen izquierdo */
    }

    .ubicacion img {
        margin-right: 5px; /* Reduce el margen derecho de la imagen */
        margin-top: 20px; /* Reduce el margen superior */
    }
}
