<!-- nav-bar.component.html -->
<div class="nav-bar">
  <div class="logo-section">
    <img src="assets/icons/logomor.png" alt="Logomor" class="logo">
    <img src="assets/icons/logopol.png" alt="Logopol" class="logo">
  </div>
  <div class="title-section">
    <img src="assets/icons/movialia.png" alt="Movialia" class="title-image">
  </div>
  <div class="timer-menu-section">
    <ng-container *ngIf="showTimer">
      <app-countdown-timer></app-countdown-timer>
    </ng-container>
    <img src="assets/icons/menu.png" alt="Menu" class="icon">
  </div>
</div>
<div>
  <img src="assets/icons/tira.jpeg" alt="banda" class="banda-inf">
</div>
